.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0px;
}

.desc {
  margin-bottom: 32px;
}
